src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.example.org/" name="ProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.example.org/" schemaLocation="http://0.0.0.0:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="sellingPrice">
<part name="parameters" element="tns:sellingPrice"/>
</message>
<message name="sellingPriceResponse">
<part name="parameters" element="tns:sellingPriceResponse"/>
</message>
<message name="productList">
<part name="parameters" element="tns:productList"/>
</message>
<message name="productListResponse">
<part name="parameters" element="tns:productListResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<portType name="ProductWebService">
<operation name="sellingPrice">
<input wsam:Action="http://webservice.example.org/ProductWebService/sellingPriceRequest" message="tns:sellingPrice"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/sellingPriceResponse" message="tns:sellingPriceResponse"/>
</operation>
<operation name="productList">
<input wsam:Action="http://webservice.example.org/ProductWebService/productListRequest" message="tns:productList"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/productListResponse" message="tns:productListResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://webservice.example.org/ProductWebService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://webservice.example.org/ProductWebService/addProductResponse" message="tns:addProductResponse"/>
</operation>
</portType>
<binding name="ProductWebServicePortBinding" type="tns:ProductWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sellingPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWS">
<port name="ProductWebServicePort" binding="tns:ProductWebServicePortBinding">
<soap:address location="http://0.0.0.0:8080/"/>
</port>
</service>
</definitions>